.center {
  margin: auto;
  margin-top: 20px;
  width: 30%;
  border: 3px solid black;
  padding: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  background-color: #1D2D56;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="file"] {
    display: none;
}

#repr_samples {
  /*width: 100%;*/
  padding: 20px 0px;
  margin: 8px 0;
  /*border: 1px solid #ccc;*/
  /*border-radius: 4px;*/
  box-sizing: border-box;
  color: #1D2D56;
  font-size:20px;
}


input[type=button]:hover {
  background-color: #6874a0;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0;
  column-gap: 0;
  grid-row-gap: 0;
}

.grid-item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
}


#container_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0;
  column-gap: 0;
  grid-row-gap: 0;
}

#container_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0;
  column-gap: 0;
  grid-row-gap: 0;
}

.grid-item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
}


.under {
  position: relative;
  left: 0px;
  top: 0px;
  float: left;
}

.slider {
  padding: 0px 21px;  
}

.over {
  position: absolute;
  left: 40px;
  top: 312px;
  border: 1px solid white;
  z-index: 1;
}

.slider-tooltiptext {
  visibility: hidden;
  width: 285px;
  font-size: 12px;
  background-color: #ccc;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 7px 7px;

  position: absolute;
  z-index: 1;
}

.slider-tooltiptext-2 {
  visibility: hidden;
  width: 285px;
  font-size: 12px;
  background-color: #ccc;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 7px 7px;

  position: absolute;
  z-index: 1;
}

#control_set_tooltiptext {
  /*visibility: hidden;*/
  padding: 50px 0px;
  margin: 10px 0;
  /*border: 1px solid #ccc;*/
  /*border-radius: 4px;*/
  box-sizing: border-box;
  color: black;
  font-size:15px;
}

#about, #about:visited {
  color:black;
  text-decoration: none;
}

#about:hover {
  background-color: #ccc;
  text-decoration: none;
}

table {
  /*font-family: arial, sans-serif;*/
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


