tqdm==4.48.2
google_search_results==2.4.0
Flask_Cors==3.0.10
scipy==1.4.1
matplotlib==3.3.1
Keras==2.4.3
dlib==19.22.1
numpy==1.18.5
scikit_image==0.18.3
opencv_python==4.4.0.46
Flask==2.0.2
ipython==8.0.1
Pillow==9.0.1
scikit_learn==1.0.2
skimage==0.0
